In [48]:
import pandas as pd
import numpy as np
from factor_analyzer.utils import covariance_to_correlation
import graphviz
import semopy
import matplotlib.pyplot as plt
import seaborn as sns

In [49]:
df_image = pd.read_csv("image.csv", encoding='shift_jis')
df_image

,x,d1,d2,d3,d4,d5,w1,w2,w3,w4,...,c4,c5,c6,p,s1,s2,s3,s4,s5,s6
0,1,6.2937,1.9398,6.7618,3.07992,5.72156,36.96507,25.87807,21.29791,21.00362,...,21,10,6,3,3.000000,3.000000,3.333333,3.000000,3.6,3.000000
1,2,11.0338,6.1047,7.2883,7.54295,9.90751,25.40064,16.89495,16.52988,16.46094,...,8,12,21,3,3.000000,3.000000,3.000000,3.000000,3.0,3.000000
2,3,7.1932,2.1034,4.9684,5.66562,8.38533,29.94836,20.88529,19.59672,20.50303,...,16,18,15,4,2.333333,2.333333,2.333333,3.666667,1.8,2.333333
3,4,7.8981,-0.9757,4.2858,3.84009,4.87743,26.87720,18.93591,16.00807,17.58007,...,16,17,11,4,3.333333,3.333333,4.000000,2.666667,3.6,3.333333
4,5,9.7256,0.0349,7.1680,3.90703,6.30194,43.20713,28.51156,24.68393,25.27235,...,24,24,23,5,4.666667,3.333333,3.666667,5.000000,4.8,5.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799,800,7.5822,0.1201,6.5722,3.32963,4.75933,22.04394,17.21857,11.89841,14.83118,...,19,18,11,4,3.000000,5.000000,4.666667,3.333333,4.8,5.000000
800,801,5.6149,-0.7314,1.6795,3.74132,5.60217,29.58012,15.73032,14.89273,16.04473,...,18,24,10,4,2.000000,5.000000,4.333333,3.000000,5.0,5.000000
801,802,6.0455,2.0958,3.8635,4.97563,5.69270,28.18144,19.74430,19.20815,16.45026,...,16,11,21,2,3.666667,3.333333,3.000000,2.000000,3.4,4.000000
802,803,8.6738,-0.4216,1.4291,4.27503,5.49286,31.06191,21.50243,19.40287,18.43385,...,26,17,6,4,4.000000,4.666667,5.000000,4.666667,5.0,4.333333
803,804,3.5565,-0.0380,3.4472,2.81113,3.50357,30.25131,18.98164,19.62766,17.88559,...,16,22,10,3,3.333333,4.000000,4.000000,3.333333,3.6,3.333333

In [50]:
df_image_s = df_image[['s1', 's2', 's3', 's4', 's5', 's6']].mean(axis=1).round(4)
df_image_s

0      3.1556
1      3.0000
2      2.4667
3      3.3778
4      4.4111
        ...
799    4.3000
800    4.0556
801    3.2333
802    4.6111
803    3.6000
Length: 804, dtype: float64

In [51]:
df_anounce = pd.read_csv("announce.csv",encoding='shift_jis')
df_anounce

,x,d1,d2,d3,d4,d5,w1,w2,w3,w4,...,c4,c5,c6,p,s1,s2,s3,s4,s5,s6
0,1,6.2937,1.9398,6.7618,3.07992,5.72156,36.96507,25.87807,21.29791,21.00362,...,21,10,6,3,3.666667,2.666667,4.666667,3.000000,4.2,4.000000
1,2,11.0338,6.1047,7.2883,7.54295,9.90751,25.40064,16.89495,16.52988,16.46094,...,8,12,21,3,3.000000,3.000000,3.000000,3.000000,3.0,3.000000
2,3,7.1932,2.1034,4.9684,5.66562,8.38533,29.94836,20.88529,19.59672,20.50303,...,16,18,15,4,2.333333,3.000000,2.333333,3.333333,2.4,3.000000
3,4,7.8981,-0.9757,4.2858,3.84009,4.87743,26.87720,18.93591,16.00807,17.58007,...,16,17,11,4,3.666667,4.000000,4.333333,2.666667,4.4,4.333333
4,5,9.7256,0.0349,7.1680,3.90703,6.30194,43.20713,28.51156,24.68393,25.27235,...,24,24,23,5,4.666667,4.666667,3.666667,5.000000,4.8,4.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799,800,7.5822,0.1201,6.5722,3.32963,4.75933,22.04394,17.21857,11.89841,14.83118,...,19,18,11,4,3.666667,5.000000,5.000000,3.333333,5.0,5.000000
800,801,5.6149,-0.7314,1.6795,3.74132,5.60217,29.58012,15.73032,14.89273,16.04473,...,18,24,10,4,3.000000,5.000000,4.333333,3.333333,5.0,5.000000
801,802,6.0455,2.0958,3.8635,4.97563,5.69270,28.18144,19.74430,19.20815,16.45026,...,16,11,21,2,3.666667,3.666667,3.666667,2.333333,4.2,3.666667
802,803,8.6738,-0.4216,1.4291,4.27503,5.49286,31.06191,21.50243,19.40287,18.43385,...,26,17,6,4,4.000000,5.000000,5.000000,1.666667,4.8,5.000000
803,804,3.5565,-0.0380,3.4472,2.81113,3.50357,30.25131,18.98164,19.62766,17.88559,...,16,22,10,3,3.666667,4.333333,4.666667,4.333333,4.2,4.333333

In [52]:
df_anounce_s = df_anounce[['s1', 's2', 's3', 's4', 's5', 's6']].mean(axis=1).round(4)
df_anounce_s

0      3.7000
1      3.0000
2      2.7333
3      3.9000
4      4.5778
        ...
799    4.5000
800    4.2778
801    3.5333
802    4.2444
803    4.2556
Length: 804, dtype: float64

In [53]:
df_none = pd.read_csv("none.csv",encoding='shift_jis')
df_none

,x,d1,d2,d3,d4,d5,w1,w2,w3,w4,...,c4,c5,c6,p,s1,s2,s3,s4,s5,s6
0,1,6.2937,1.9398,6.7618,3.07992,5.72156,36.96507,25.87807,21.29791,21.00362,...,21,10,6,3,2.000000,1.000000,2.333333,2.333333,1.0,1.000000
1,2,11.0338,6.1047,7.2883,7.54295,9.90751,25.40064,16.89495,16.52988,16.46094,...,8,12,21,3,3.000000,3.000000,3.000000,3.000000,3.0,3.000000
2,3,7.1932,2.1034,4.9684,5.66562,8.38533,29.94836,20.88529,19.59672,20.50303,...,16,18,15,4,2.333333,2.333333,2.333333,3.666667,1.8,2.333333
3,4,7.8981,-0.9757,4.2858,3.84009,4.87743,26.87720,18.93591,16.00807,17.58007,...,16,17,11,4,3.000000,2.333333,1.000000,5.000000,1.0,1.333333
4,5,9.7256,0.0349,7.1680,3.90703,6.30194,43.20713,28.51156,24.68393,25.27235,...,24,24,23,5,1.000000,1.000000,1.000000,2.333333,1.0,2.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799,800,7.5822,0.1201,6.5722,3.32963,4.75933,22.04394,17.21857,11.89841,14.83118,...,19,18,11,4,3.666667,1.000000,2.333333,3.000000,1.0,1.000000
800,801,5.6149,-0.7314,1.6795,3.74132,5.60217,29.58012,15.73032,14.89273,16.04473,...,18,24,10,4,2.333333,2.333333,2.333333,3.666667,1.8,2.333333
801,802,6.0455,2.0958,3.8635,4.97563,5.69270,28.18144,19.74430,19.20815,16.45026,...,16,11,21,2,3.666667,3.333333,3.666667,2.333333,3.6,3.666667
802,803,8.6738,-0.4216,1.4291,4.27503,5.49286,31.06191,21.50243,19.40287,18.43385,...,26,17,6,4,2.333333,2.333333,1.666667,1.000000,1.4,2.333333
803,804,3.5565,-0.0380,3.4472,2.81113,3.50357,30.25131,18.98164,19.62766,17.88559,...,16,22,10,3,2.333333,2.333333,2.333333,3.000000,1.0,1.000000

In [54]:
df_none_s = df_none[['s1', 's2', 's3', 's4', 's5', 's6']].mean(axis=1).round(4)
df_none_s

0      1.6111
1      3.0000
2      2.4667
3      2.2778
4      1.4444
        ...
799    2.0000
800    2.4667
801    3.3778
802    1.8444
803    2.0000
Length: 804, dtype: float64

In [55]:
df_image_announce = pd.read_csv("image_announce.csv",encoding='shift_jis')
df_image_announce

,x,d1,d2,d3,d4,d5,w1,w2,w3,w4,...,c4,c5,c6,p,s1,s2,s3,s4,s5,s6
0,1,6.2937,1.9398,6.7618,3.07992,5.72156,36.96507,25.87807,21.29791,21.00362,...,21,10,6,3,3.000000,3.666667,4.000000,2.333333,4.0,4.000000
1,2,11.0338,6.1047,7.2883,7.54295,9.90751,25.40064,16.89495,16.52988,16.46094,...,8,12,21,3,3.000000,3.000000,3.000000,3.000000,3.0,3.000000
2,3,7.1932,2.1034,4.9684,5.66562,8.38533,29.94836,20.88529,19.59672,20.50303,...,16,18,15,4,3.333333,3.333333,3.333333,3.000000,4.2,3.333333
3,4,7.8981,-0.9757,4.2858,3.84009,4.87743,26.87720,18.93591,16.00807,17.58007,...,16,17,11,4,3.666667,4.000000,4.000000,3.000000,4.4,3.666667
4,5,9.7256,0.0349,7.1680,3.90703,6.30194,43.20713,28.51156,24.68393,25.27235,...,24,24,23,5,5.000000,4.666667,5.000000,3.666667,4.8,5.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799,800,7.5822,0.1201,6.5722,3.32963,4.75933,22.04394,17.21857,11.89841,14.83118,...,19,18,11,4,3.666667,5.000000,5.000000,3.333333,5.0,5.000000
800,801,5.6149,-0.7314,1.6795,3.74132,5.60217,29.58012,15.73032,14.89273,16.04473,...,18,24,10,4,2.333333,5.000000,4.666667,3.000000,4.2,5.000000
801,802,6.0455,2.0958,3.8635,4.97563,5.69270,28.18144,19.74430,19.20815,16.45026,...,16,11,21,2,3.666667,3.666667,3.666667,2.333333,4.2,3.666667
802,803,8.6738,-0.4216,1.4291,4.27503,5.49286,31.06191,21.50243,19.40287,18.43385,...,26,17,6,4,4.000000,5.000000,5.000000,2.000000,5.0,5.000000
803,804,3.5565,-0.0380,3.4472,2.81113,3.50357,30.25131,18.98164,19.62766,17.88559,...,16,22,10,3,3.666667,4.333333,4.666667,3.666667,4.4,4.333333

In [56]:
df_image_announce_s = df_image_announce[['s1', 's2', 's3', 's4', 's5', 's6']].mean(axis=1).round(4)
df_image_announce_s

0      3.5000
1      3.0000
2      3.4222
3      3.7889
4      4.6889
        ...
799    4.5000
800    4.0333
801    3.5333
802    4.3333
803    4.1778
Length: 804, dtype: float64

In [57]:
df_image_sound = pd.read_csv("sound.csv",encoding='shift_jis')
df_image_sound

,x,d1,d2,d3,d4,d5,w1,w2,w3,w4,...,c4,c5,c6,p,s1,s2,s3,s4,s5,s6
0,1,6.2937,1.9398,6.7618,3.07992,5.72156,36.96507,25.87807,21.29791,21.00362,...,21,10,6,3,3.333333,3.666667,4.000000,3.000000,4.0,4.000000
1,2,11.0338,6.1047,7.2883,7.54295,9.90751,25.40064,16.89495,16.52988,16.46094,...,8,12,21,3,3.000000,3.000000,3.000000,3.000000,3.0,3.000000
2,3,7.1932,2.1034,4.9684,5.66562,8.38533,29.94836,20.88529,19.59672,20.50303,...,16,18,15,4,2.333333,2.333333,2.666667,3.333333,2.4,2.666667
3,4,7.8981,-0.9757,4.2858,3.84009,4.87743,26.87720,18.93591,16.00807,17.58007,...,16,17,11,4,3.333333,3.666667,4.333333,2.333333,3.4,2.666667
4,5,9.7256,0.0349,7.1680,3.90703,6.30194,43.20713,28.51156,24.68393,25.27235,...,24,24,23,5,3.666667,3.333333,4.666667,4.666667,4.4,4.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799,800,7.5822,0.1201,6.5722,3.32963,4.75933,22.04394,17.21857,11.89841,14.83118,...,19,18,11,4,3.666667,5.000000,5.000000,3.333333,5.0,5.000000
800,801,5.6149,-0.7314,1.6795,3.74132,5.60217,29.58012,15.73032,14.89273,16.04473,...,18,24,10,4,2.666667,3.333333,3.333333,3.333333,5.0,5.000000
801,802,6.0455,2.0958,3.8635,4.97563,5.69270,28.18144,19.74430,19.20815,16.45026,...,16,11,21,2,3.666667,3.666667,3.666667,2.333333,4.2,3.666667
802,803,8.6738,-0.4216,1.4291,4.27503,5.49286,31.06191,21.50243,19.40287,18.43385,...,26,17,6,4,3.333333,4.666667,4.666667,2.333333,4.8,4.333333
803,804,3.5565,-0.0380,3.4472,2.81113,3.50357,30.25131,18.98164,19.62766,17.88559,...,16,22,10,3,3.666667,4.333333,4.666667,4.333333,4.4,4.000000

In [58]:
df_image_sound_s = df_image_sound[['s1', 's2', 's3', 's4', 's5', 's6']].mean(axis=1).round(4)
df_image_sound_s

0      3.6667
1      3.0000
2      2.6222
3      3.2889
4      4.1778
        ...
799    4.5000
800    3.7778
801    3.5333
802    4.0222
803    4.2333
Length: 804, dtype: float64

In [59]:
df_all = pd.concat([df_none[['x', 'd1', 'd2', 'd3', 'd4', 'd5', 'w1', 'w2', 'w3', 'w4', 'w5', 'c1',
       'c2', 'c3', 'c4', 'c5', 'c6', 'p']],df_none_s,df_image_s,df_anounce_s,df_image_sound_s,df_image_announce_s],axis=1)
df_all.columns = ['x', 'd1', 'd2', 'd3', 'd4', 'd5', 'w1', 'w2', 'w3', 'w4', 'w5', 'c1',
       'c2', 'c3', 'c4', 'c5', 'c6', 'p','none_s','image_s','announce_s','image_sound_s','image_announce_s']
df_all

,x,d1,d2,d3,d4,d5,w1,w2,w3,w4,...,c3,c4,c5,c6,p,none_s,image_s,announce_s,image_sound_s,image_announce_s
0,1,6.2937,1.9398,6.7618,3.07992,5.72156,36.96507,25.87807,21.29791,21.00362,...,29,21,10,6,3,1.6111,3.1556,3.7000,3.6667,3.5000
1,2,11.0338,6.1047,7.2883,7.54295,9.90751,25.40064,16.89495,16.52988,16.46094,...,14,8,12,21,3,3.0000,3.0000,3.0000,3.0000,3.0000
2,3,7.1932,2.1034,4.9684,5.66562,8.38533,29.94836,20.88529,19.59672,20.50303,...,18,16,18,15,4,2.4667,2.4667,2.7333,2.6222,3.4222
3,4,7.8981,-0.9757,4.2858,3.84009,4.87743,26.87720,18.93591,16.00807,17.58007,...,28,16,17,11,4,2.2778,3.3778,3.9000,3.2889,3.7889
4,5,9.7256,0.0349,7.1680,3.90703,6.30194,43.20713,28.51156,24.68393,25.27235,...,23,24,24,23,5,1.4444,4.4111,4.5778,4.1778,4.6889
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799,800,7.5822,0.1201,6.5722,3.32963,4.75933,22.04394,17.21857,11.89841,14.83118,...,33,19,18,11,4,2.0000,4.3000,4.5000,4.5000,4.5000
800,801,5.6149,-0.7314,1.6795,3.74132,5.60217,29.58012,15.73032,14.89273,16.04473,...,33,18,24,10,4,2.4667,4.0556,4.2778,3.7778,4.0333
801,802,6.0455,2.0958,3.8635,4.97563,5.69270,28.18144,19.74430,19.20815,16.45026,...,14,16,11,21,2,3.3778,3.2333,3.5333,3.5333,3.5333
802,803,8.6738,-0.4216,1.4291,4.27503,5.49286,31.06191,21.50243,19.40287,18.43385,...,28,26,17,6,4,1.8444,4.6111,4.2444,4.0222,4.3333
803,804,3.5565,-0.0380,3.4472,2.81113,3.50357,30.25131,18.98164,19.62766,17.88559,...,22,16,22,10,3,2.0000,3.6000,4.2556,4.2333,4.1778

In [60]:
df_all.to_csv('all.csv')

In [61]:

# file_base_name = "image"
# file_extension = ".csv"
# file_name = file_base_name + file_extension

# # df_image = pd.read_csv(file_name, encoding='shift_jis')

# df_name = f"df_{file_base_name}"

# # データフレームを格納する辞書
# data_frames = {}

# # 辞書にデータフレームを格納
# data_frames[df_name] = pd.read_csv(file_name, encoding='shift_jis')

# df_s[] = data_frames[df_name][['s1', 's2', 's3', 's4', 's5', 's6']].mean(axis=1)